.forgotpassButton {
    position: absolute;
    top: 500px;
    left: 587px;
    color: #B9B9B9;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .loginButton {
    position: absolute;
    top: 130px;
    left: 555px;
    color: #29B4E0;
    font-size: 16px;
    font-weight: 800;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .signupButton {
    position: absolute;
    top: 133px;
    left: 625px;
    color: #828282;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .signinButton {
    position: absolute;
    top: 550px;
    left: 325pxpx;
    width: 390px;
    height: 41px;
    background: linear-gradient(90deg, #15AAD9, #7EE0FF);
    box-shadow: 0px 15px 20px rgba(32, 175, 221, 0.34);
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
