.headerSchool {
    position: absolute; 
    top: 131px;
    left: 350px;
    font-size: 10px;
    font-weight: 799;
    color: #2AB5E1;
  }
  
  .headerSignin {
    position: absolute; 
    top: 304px;
    left: 325px;
    font-size: 23px;
    color: #494949;
  }
  
  .text {
    position: absolute;
    top: 340px;
    left: 325px;
    font-size: 16px;
    color: #828282;
  }
